.base_btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: initial;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  border-radius: 8px;

  &--round {
    border-radius: 100%;
  }

  &::before {
    box-shadow: none !important;
  }
}
